/* COMMON */
body {
  color: #333; /* 기본 폰트 색상 지정 */
  font-size: 16px; /* 기본 폰트 사이즈 지정 */
  font-weight: 400; /* 기본 폰트 두께 지정 */
  line-height: 1.4; /* 기본 행간 높이 지정 */
  font-family: "Nanum Gothic", sans-serif;

}
img {
  display: block; /* 인라인 요소(글자취급)를 화면구성 레이아웃(상자취급)으로 활용함을 지정. */
}


/* HEADER */
header {
  background-color: royalblue;
}
header .inner {   /* inner는 통상적으로 건너뛰는 것이 좋다. 그럼 inner의 역할은?? */
  width: 1100px;
  height: 120px;
  margin: 0 auto; /* 위아래 사용X, 좌우 브라우저 자동 계산 */
  background-color: orange;
  position: relative;
}
header .logo {
  height: 75px; /* ③ 정확한 로고의 높이값 명시) */
  position: absolute;
  top: 0;
  bottom: 0; /* ① 수직 위,아래 지점 표시(고정) */
  left: 0; /* (마지막으로) inner부모요소를 기준으로 좌측에 붙어 있다는 것을 정확하게 명시 한다. */
  margin: auto; /* ② auto 0의 생략 버전, 즉 위,아래 값만 움직이도록 하는 것. =수직 중앙 정렬 설정 */
  
}