/* COMMON */
body {
  color: #333; /* 기본 폰트 색상 지정 */
  font-size: 16px; /* 기본 폰트 사이즈 지정 */
  font-weight: 400; /* 기본 폰트 두께 지정 */
  line-height: 1.4; /* 기본 행간 높이 지정 */
  font-family: "Nanum Gothic", sans-serif;
  height: 3000px;
}
a {
  text-decoration: none;
}
img {
  display: block; /* 인라인 요소(글자취급)를 화면구성 레이아웃(상자취급)으로 활용함을 지정. */
}
.inner {
  width: 1100px;
  margin: 0 auto; /* 위아래 사용X, 좌우 브라우저 자동 계산 */
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box ; /* a태그, span태그에 btn class 부여했을 때 적용이 되도록 사전 설정 */
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse { /* 반전된 버튼 */
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown { /* 갈색 버튼 */
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold { /* 금색 버튼 */
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white { /* 흰색 버튼 */
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}


/* HEADER */
header {
  width: 100%;
  /* position: relative; */
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed; /* 뷰포트 기준으로 배치 - 가로 위치를 최소한으로 사용하는 특성이 있다. width를 auto > 100%로 변경하면 이슈 해결! */
  top: 0; 
  z-index: 9;
}
/* header 바로 아래 자식요소만 해댱하도록 지정하여 아래 contents__menu의 inner와 명확한 구분을 해준다. */
header > .inner {   /* inner는 통상적으로 건너뛰는 것이 좋다. 그럼 inner의 역할은?? */ 
  height: 120px; /* header의 높이를 말함. */
  
}
header .logo {
  height: 75px; /* ③ 정확한 로고의 높이값 명시) */
  position: absolute;
  top: 0;
  bottom: 0; /* ① 수직 위,아래 지점 표시(고정) */
  left: 0; /* (마지막으로) inner부모요소를 기준으로 좌측에 붙어 있다는 것을 정확하게 명시 한다. */
  margin: auto; /* ② auto 0의 생략 버전, 즉 위,아래 값만 움직이도록 하는 것. =수직 중앙 정렬 설정 */
  
}

/* SUB MENU */
header .sub-menu { /* ))그래서 마마한테 와서 수직 > 수평 정렬로 바꾼다. */ 
  position: absolute; /* 구조적인 부모는 inner 이다. */
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex; /* 수직 > 수평 정렬 */
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {  /* ::는 가상요소 선택자, 인라인 요소이다. */
  content: "";
  /* -- display: block; 값은 삭제한다. */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute; /* -- position: absolute;는 block요소로 자동 전환되는 특성이 있어 */
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color:#656565;

}
header .sub-menu ul.menu li a:hover {
  color: #000;
}

/* SEARCH */
header .sub-menu .search {
  height: 34px; /* 검색창 영역 높이 값 */
  position: relative;
}
header .sub-menu .search input { /* ))search요소는 div, block요소임으로 가로너비가 최대한 늘어나려고 하는 특징있어서 돋보기가 혼자 둘째줄 끝으로 이동하는 이슈 발생된다. */
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none; /* input요소 선택 시 생기는 파란색 테두리 없애기. */
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s; /* input 창이 축소될 떄 자연스럽게 함. */
}
header .sub-menu .search input:focus { /* 클릭하면 작동하도록 함. */
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons { /* 돋보기 search 영역 수직 가운데 정렬 배치하기 */
  height: 24px;
  position: absolute; /* 부모 요소 기준으로 배치하기 */
  top: 0;
  bottom: 0;
  right: 5px; /* 부모요소 기준으로 우측으로 5픽셀 지점 위치 */
  margin: auto;
  transition: .4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0; /* .search.focused class가 실행되면 */
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; /* drop down된 main manu가 맨위에 보여야 하기 떄문 */
  display: flex;
}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name { /* item에 hover를 부여해야지만 main menu frop down 했을 때 이름과 컨텐츠 모두 적용이 된다. */
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents { 
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul { /* 바로 자식 ul만 해당 */ /* 커피, 에스프레소 음료 부분이 수평으로 정렬하기 */
  display: flex;
  padding: 20px 0;

}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;

}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font: 14px;
  color: #fff;
}
/* header .main-menu .item .item__contents .contents__menu > ul > li ul {} /* 쓰지 않고 지저분해 보이니 삭제할 것 */

header .main-menu .item .item__contents .contents__menu > ul > li ul li{
  padding: 5px 0;
  font: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px; /* 폰트 사이즈는 상속이 되기 때문에 부모요소에 부여해도 된다. */
  background-image: url("/images/main_menu_pattern.jpg"); /* 이 코드는 기본적을 반복해서 나오기에 background repeat를 별도로 하지 않아도 된다. */
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
  
}
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;

}

/* BADGE */
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden; /* 이미지가 틀 밖으로 넘치지 않도록 잘라준다. */
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15); /* 마지막은 투명 값 = 0.15 */
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px; /* header의 높이 값 */
  background-image: url(../images/visual_bg.jpg);
  background-position: center; /* 정가운데 하나만 놓겠다 */
}
.visual .inner {
  height: 636px; /* body에 기설정된 inner 값이 있어서 모든 inner는 해당 영향을 받게 된다. 즉, 이미지 위치 변경으로 position: relative 안 넣어도 된다. */
}
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual .title .btn { /* 구조상 부모요소 = title */
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in { 
  opacity: 0; /* 투명도 */
}

/* NOTICE */
.notice .notice-line { /* 높이 값이 최대한 줄어들려고 하지만 inner값 때문에 늘려나는 상황 */
  position: relative;
}
.notice .notice-line .bg-left {
  width: 50%;
  height: 100%; /* 100%로 채우려고 하도록 설정 */
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;  
}
.notice .notice-line .bg-right {
  width: 50%;
  height: 100%; /* 100%로 채우려고 하도록 설정 */
  background-color: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}
.notice .notice-line .inner { /* 결국 inner의 height 값으로 모두의 높이를 컨트롤 가능. 超方便! */
  height: 62px;
  z-index: 1;
  display: flex; /* inner 내의 left, right가 수평이 되도록 한다. */
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333 ;
  display: flex; /* 아래 .inner__left 삼총사 모두 수평으로 배치되어야 하기 때문이다.  */
  /* 높이 값이 별도로 없을 때 가로는 최대한 늘어나려고 한다. */
  align-items: center;
}
.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
} 
.notice .notice-line .inner__left .swiper-container {
  height: 62px; /* 추가 해야 해당 영역이 다시 보인다. */
  /*flex-grow: 1;  최대한 늘어나라. 현재로써 오류 발생되어 hidden으로 대체함. */
  overflow: hidden;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center; /* 수평 가운데 */
  align-items: center; /* 수직 가운데 */
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end; /* 수평 끝점 이동 */
  align-items: center;
}
.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;

}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

/* PROMOTION */
.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
.notice .promotion.hide {
  height: 0;

}
.notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px); /* 단위계산 칼크함수 */
  height: 553px;
  overflow: hidden;
  position: absolute; /* 중앙 이미지 확대해도 중앙에 위치하도록 */
  top: 40px;
  left: 50%; /* .promotion배경과swiper-container배경이 정확히 절반씩 뷰포트에 보여짐. */
  margin-left: calc((819px * 3 + 20px) / -2); /* .swiper-container총 가로길이의 절반만 왼쪽으로 당겨오기 */ 
}
.notice .promotion .swiper-slide {
  opacity: .5; /* 반투명하게 만들기 */
  transition: opacity 1s;
  position: relative ;
}
.notice .promotion .swiper-slide-active {
  opacity: 1; /* 해당 슬라이드가 active할 때 투명도 1값으로 돌어오도록 한다. */
}
.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0; /* 부모요소 기준으로 맨 아래 위치 */
  left: 0;
  right: 0;
  margin: auto; /* 가운데 위치하도록 잡아주기  */
}
.notice .promotion .swiper-pagination {
  bottom: 40px; /* 개발자 도구  */
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent; /* swiper에서 파란색 원을 main.css에서 별도 초기화하지 않고,현재 배경이미지 삽입으로 해당 색상이 필요가 없기 때문 */
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png"); 
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}